#ideas-screen {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .wrapper {
    width: var(--width-wrapper);
    max-width: var(--width-max-wrapper);
  }

  > header {
    font-size: 3.2rem;
    line-height: 5.6rem;
    color: var(--color-primary);
    font-family: var(--font-special);
    text-align: center;
    padding: 1.6rem 0 3.2rem 0;
  }

  section {
    header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: .8rem;

      span {
        text-align: right;
        font-size: 1.2rem;
        line-height: 2.4rem;
        color: var(--color-text);
      }
    }

    > div {
      height: 72vh;
      overflow-y: auto;
      margin: 2.4rem 0;
      border-radius: .8rem;
    }

    table {
      width: 100%;
      border-spacing: 0 .8rem;

      td {
        display: flex;
        flex-direction: column;
        gap: .8rem;
        background-color: var(--color-foreground);
        padding: 1.6rem;
        border-radius: .8rem;

        .identification {
          p:first-child {
            font-size: 1.4rem;
            line-height: 2.4rem;
            color: var(--color-title);
          }

          p:last-child {
            font-size: 1.2rem;
            line-height: 2.4rem;
            color: var(--color-text);
            margin-top: .8rem;
          }
        }

        footer {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;

          .status {
            span {
              background-color: var(--color-primary);
              color: var(--color-foreground);
              font-weight: 700;
              font-size: 1rem;
              padding: .4rem .8rem;
              border-radius: .4rem;
            }
          }

          .votes {
            display: flex;
            gap: .8rem;

            span {
              display: flex;
              flex-direction: column;
              align-items: center;
              gap: .4rem;
              font-weight: 500;
              cursor: pointer;
              transition: .3s;
            }

            span:hover {
              color: var(--color-subtext);
            }
          }
        }
      }
    }
  }

  > footer {
    justify-self: flex-end;
    display: flex;
    justify-content: space-between;
    padding: 1.6rem 0;
  }
}

@media (min-width: 480px) {

}