#search-screen {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search-screen .wrapper {
  width: var(--width-wrapper);
  max-width: var(--width-max-wrapper);
  align-self: center;
}

#search-screen header {
  font-size: 6.4rem;
  line-height: 8.6rem;
  color: var(--color-primary);
  font-family: var(--font-special);
  text-align: center;
}

#search-screen form {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 4.8rem;
  color: var(--color-text);
}

#search-screen form p {
  font-size: 1.6rem;
  line-height: 3.2rem;
  text-align: center;
}

#search-screen .input-group {
  position: relative;
}

#search-screen .input-group span {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 6.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
}

#search-screen .input-group input {
  width: 100%;
  height: 6.4rem;
  border: 0;
  border-radius: .8rem;
  padding: 0 2.4rem 0 6.4rem;
  color: var(--color-text);
}